{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Welcome to Team Team's Flask</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Kaylee- Backend Developer </h5>
                    <p class="card-text">
                        <ol>
                            <li>Zodiac: Scorpio </li>
                            <li>Favorite Food: Sushi</li>
                            <li>Favorite Artist: Lizzy McAlpine</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Haeryn- Scrum Master</h5>
                    <p class="card-text">
                        <ol>
                            <li>Zodiac: Taurus</li>
                            <li>Favorite Food: Hamburgers</li>
                            <li>Favorite Artist: Artic Monkeys</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Ellie- Frontend Developer</h5>
                    <p class="card-text">
                        <ol>
                            <li>Zodiac: Scorpio</li>
                            <li>Favorite Food: Sushi</li>
                            <li>Favorite Artist: Artic Monkeys</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Theo- DevOps </h5>
                    <p class="card-text">
                        <ol>
                            <li>Zodiac: Aquarius</li>
                            <li>Favorite Food: Anything his mom cooks</li>
                            <li>Favorite Artist: Mozart</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}