{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-black"><strong>Welcome to Team Team's Flask</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.dribbble.com/users/1075390/screenshots/9681928/skype_picture_2020_01_20t19_19_48_225z.jpeg" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Kaylee- Backend Developer </h5>
                    <p class="card-text">
                        <ol>
                            <li>Zodiac: Scorpio </li>
                            <li>Favorite Food: Sushi</li>
                            <li>Favorite Artist: Lizzy McAlpine</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.dribbble.com/users/673318/screenshots/13978793/media/f918cf01dac8a67cb3cca1dc16329a3a.png?compress=1&resize=400x300" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Haeryn- Scrum Master</h5>
                    <p class="card-text">
                        <ol>
                            <li>Zodiac: Taurus</li>
                            <li>Favorite Food: Hamburgers</li>
                            <li>Favorite Artist: Artic Monkeys</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.dribbble.com/users/673318/screenshots/13978786/media/5c307ab803776b5ae728e20e43d545fe.png?compress=1&resize=400x300" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Ellie- Frontend Developer</h5>
                    <p class="card-text">
                        <ol>
                            <li>Zodiac: Scorpio</li>
                            <li>Favorite Food: Sushi</li>
                            <li>Favorite Artist: Artic Monkeys</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://avatarfiles.alphacoders.com/130/130277.jpg" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Theo- DevOps </h5>
                    <p class="card-text">
                        <ol>
                            <li>Zodiac: Aquarius</li>
                            <li>Favorite Food: Anything his mom cooks</li>
                            <li>Favorite Artist: Mozart</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}