<!DOCTYPE html>
<html>
<head>
<style>

body {
        background-color: #ADD8E6;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #006400;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button a {
  color: white;
}

.card button:hover {
  opacity: 0.7;
}

.container .dogs-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}
   
</style>
</head>
<body>

<h1>Dogs for Adoption</h1>
<h3 class="title"> All dogs spayed/neutered, vaccinated, and microchipped! </h3>

<div class="container">
    <div class ="dogs-container">
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/cc7c5dd6a09649e3bf5c6bca96b21daa-1670625496-1670625511-jpg/1024-0-" alt="Joe" style="width:100%">
            <h1>Joe</h1>
            <p class="price">$200</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/1">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/672cb9b41e7548f68316d4a328c772d2-1673989499-1673989524-jpg/1024-0-" alt="Bean" style="width:100%">
            <h1>Bean</h1>
            <p class="price">$180</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/2">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/9f57a9ccb04d489c8e0faeb7a6aaecc1-1671755085-1671755107-jpg/1024-0-" alt="Harry" style="width:100%">
            <h1>Harry</h1>
            <p class="price">$160</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/3">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/7a0fd8c5107f469a8b6e3ec6db1bc48a-1671827148-1671827194-jpg/1024-0-" alt="Honey" style="width:100%">
            <h1>Honey</h1>
            <p class="price">$200</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/4">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/3b17d9a97b4e41ff984e54467d122820-1670895829-1670895970-jpg/1024-0-" alt="George" style="width:100%">
            <h1>George</h1>
            <p class="price">$200</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/5">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/574b155c13f5453093faa9a9bbe6cc09-1672428396-1672428453-jpg/1024-0-" alt="Julie" style="width:100%">
            <h1>Julie</h1>
            <p class="price">$250</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/6">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/286ffc0f2e2f4227b804656084a2eb1c-1675561494-1675561497-jpeg/1024-0-" alt="Violet" style="width:100%">
            <h1>Violet</h1>
            <p class="price">$198</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/7">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/1e445a3de6a44e9ca42ff1f36da4a9b0-1674933023-1674933059-jpeg/1024-0-" alt="Doug" style="width:100%">
            <h1>Doug</h1>
            <p class="price">$120</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/8">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/7921672da5a745d497b014d1e25802eb-1673041880-1676231549-jpeg/1024-0-" alt="Thor" style="width:100%">
            <h1>Thor</h1>
            <p class="price">$200</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/9">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/16890ba2d55b4d2b99b4c1149f8425c5-1675099945-1675099968-jpg/1024-0-" alt="Stark" style="width:100%">
            <h1>Stark</h1>
            <p class="price">$220</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/10">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/da1af9aca3db4c76b250193cafbe6874-1675374061-1675374069-jpg/1024-0-" alt="Bucky" style="width:100%">
            <h1>Bucky</h1>
            <p class="price">$140</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/11">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/3153afbaf9ed464ab7ab05de8cc68245-1660424834-1661448994-jpg/1024-0-" alt="Wanda" style="width:100%">
            <h1>Wanda</h1>
            <p class="price">$260</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/12">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/0c5b23a621874bbcbb4af72e870f2396-1662938148-1662938165-jpg/1024-0-" alt="Tasha" style="width:100%">
            <h1>Tasha</h1>
            <p class="price">$130</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/13">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/d9681fb1d6ec4e718a58a6dd40e4b333-1675210646-1675558115-jpg/1024-0-" alt="Shang" style="width:100%">
            <h1>Shang</h1>
            <p class="price">$140</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/14">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/7046abe642674a07bb4ff5a8f5c44da0-1675283719-1675283745-jpeg/1024-0-" alt="Parker" style="width:100%">
            <h1>Parker</h1>
            <p class="price">$155</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/15">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://i0.wp.com/timesofsandiego.com/wp-content/uploads/2022/08/Beagle.jpg?ssl=1" alt="Cap" style="width:100%">
            <h1>Cap</h1>
            <p class="price">$200</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/16">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/3236e8ede81d4e44b9bf806a18464230-1666577817-1666577841-jpg/1024-0-" alt="Shuri" style="width:100%">
            <h1>Shuri</h1>
            <p class="price">$190</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/17">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://do31x39459kz9.cloudfront.net/storage/image/daddeb64a1374a75821e01893d456306-1671391639-1671391712-jpg/1024-0-" alt="Musa" style="width:100%">
            <h1>Musa</h1>
            <p class="price">$160</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/18">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://www.aspcapetinsurance.com/media/2325/facts-about-maltese-dogs.jpg" alt="Bloom" style="width:100%">
            <h1>Bloom</h1>
            <p class="price">$110</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/19">Learn More</a></button></p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
            <img src="https://dl5zpyw5k3jeb.cloudfront.net/organization-photos/38001/4/?bust=1516228994&width=720" alt="Stella" style="width:100%">
            <h1>Stella</h1>
            <p class="price">$220</p>
            <p><button><a href="https://fluffyfriendfinder.nighthawkcodingsociety.com/20">Learn More</a></button></p>
        </div>
      </div>
    
    </div>
</div>

</body>
</html>